<ion-app class="page-wrapper compact-wrapper">
  
  <ion-header class="page-header">
    <ion-toolbar  class="header-wrapper row m-0">
      <ion-buttons slot="start" class="left-header col horizontal-wrapper ps-0">
        
        <ul class="horizontal-menu">
          <li class="mega-menu outside">
            <ion-button class="nav-link"><ion-icon name="cloud-download-outline"></ion-icon>&nbsp;Importer</ion-button>
          </li>
          <li class="level-menu outside">
            <ion-button class="nav-link"><ion-icon name="cloud-Upload-outline"></ion-icon>&nbsp;Exporter</ion-button>
          </li>
        </ul>

      </ion-buttons>
      <ion-buttons slot="end" class="nav-right col-8 pull-right right-header p-0">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="language"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="moon"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon  name="person"></ion-icon>
          userName
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-router-outlet></ion-router-outlet>
</ion-app>
